html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

#chat {
  margin-top: calc(50% - height);
  width: 250px;
  margin-left: 50px;
  background-color: rgb(42, 114, 173);
  padding: 5px;
}

#c-window {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: rgb(192, 200, 247);
  padding: 5px;
}

#d1, #d2 {
  border-style: solid;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

#cards {
  height: 500px;
  max-height: 70%;
  overflow-y: auto;
}